* {
    font-family: 'Philosopher', sans-serif;
}

.global {
    background-color: rgb(0, 0, 0, 0.1);
    font-family: 'Philosopher', sans-serif;
}

.header {
    background-image: url("../img/cartes.jpg");
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons {
    width: 10rem;
}

.footer {
    background-color: black;
    height: 15vh;
}

.mainTitle {
    font-family: 'Philosopher', sans-serif;
    font-size: 18vh;
    letter-spacing: -0.05em;
}

p,
div {
    font-family: 'Philosopher', sans-serif;
}

.navbar {
    font-family: 'Philosopher', sans-serif;
    background-color: black;
}

.nav-link {
    font-size: 3vh;
}

.quote {
    font-size: 5vh;
    font-family: 'Philosopher', sans-serif;
}

.carousel {
    width: 40rem;
}

.img-categorie {
    height: 15rem;
}


.bgTitle {
    background-color: black;
}

.categorie-intro {
    max-width: 50%;
}

.categorie-card {
    width: 30rem;
    max-width: 30rem;
}

.mainText {
    max-width: 60%;
}

.mainText2 {
    max-width: 80%;
}

.cat-image {
    max-width: 80%;
}

.cards {
    background: black;
}

.carouselTitle {
    background-color: black;
}


#openweathermap-widget-21 {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-bottom: 3rem;
}

#openweathermap-widget-24 {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.detailsTitle {
    font-size: 5rem;
}

.viewsTitle {
    font-size: 5rem;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.adminPicture {
    width: 3rem;
}

.updateButton {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/plume.jpg);
    height: 15rem;
}

.addButton {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/avion.jpg);
    height: 15rem;

}

.moderateButton {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/douanes.jpg);
    height: 15rem;

}

.carnetFirst {

    background: url(../img/users.jpeg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;

}

.carnet {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/users.jpeg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;

}

@media screen and (max-width : 600px) {
    .carnetFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/users.jpeg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }
}



.wishFirst {

    background: url(../img/wish.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;

}

.wish {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wish.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;

}

@media screen and (max-width : 600px) {
    .wishFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wish.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }
}

.editFirst {

    background: url(../img/edit.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;

}

.edit {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/edit.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;

}

@media screen and (max-width : 600px) {
    .editFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/edit.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }
}

.usersButton {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/users.jpeg);
    height: 15rem;
}

.updateImage {
    max-width: 4rem;
    width: 4rem;
}

.listStyle {
    list-style-type: none;
}

.blockBtn {
    background-color: rgb(206, 10, 10);

}

body > header > div:nth-child(2) > form > div > input.outBtn:hover {
    background-color: rgb(206, 10, 10);
}

div.modal-footer>input.blockBtn {
    background-color: rgb(206, 10, 10);

}

td>button.blockBtn {
    background-color: rgb(206, 10, 10);
}

.appBtn {
    background-color: rgb(5, 133, 5);
}

form>button.appBtn {
    background-color: rgb(5, 133, 5);
    color: white;
}

div.col-md-8>div>button.blockBtn {
    background-color: rgb(206, 10, 10);
    color: white;
}

div.modal-footer>form>input.blockBtn {
    background-color: rgb(206, 10, 10);
    color: white;
}

.countBg {
    background-color: black;
}

div.col-lg-6.pb-1>div.appBtn {
    background-color: rgb(5, 133, 5);
    color: white;
}

div.appBtn {
    background-color: rgb(5, 133, 5);
    color: white;
}

form>button.blockBtn {
    background-color: rgb(206, 10, 10);
    color: white;
}

form>input.sortBtn {
    background-color: rgb(11, 137, 255);
    color: white;
}

body>div>a.btn.test {
    background-color: rgb(11, 137, 255);
    color: white;
}

.testo:hover {
    background-color: rgb(11, 137, 255);

}


.montagneFirst {
    background: url(../img/montagne3.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
}


.montagne {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/montagne3.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.plageFirst {
    background: url(../img/plage3.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.plage {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/plage3.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.villeFirst {
    background: url(../img/italie.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.ville {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/italie.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.sportFirst {
    background: url(../img/sport2.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.sport {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/sport2.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.histoireFirst {
    background: url(../img/petra.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.histoire {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/petra.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.gastronomieFirst {
    background: url(../img/gastronomie.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.gastronomie {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gastronomie.jpg);
    height: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

@media screen and (max-width : 600px) {
    .montagneFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/montagne3.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }

    .plageFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/plage3.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }

    .villeFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/italie.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }

    .sportFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/sport2.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }

    .histoireFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/petra.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }

    .gastronomieFirst {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gastronomie.jpg);
        height: 15rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }

    .categorie-intro {
        max-width: 80%;
    }
}

.borderConnect {
    border: solid black 2px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.borderBlog {
    border: solid black 1px;

}


div.row.justify-content-evenly.m-0>div.homeCard {
    width: 19rem;
}

@media screen and (max-width : 600px) {
    .changeTable {
        display: none;
    }
}

@media screen and (max-width : 600px) {
    div.row.justify-content-evenly.m-0>div.homeCard {
        width: 23rem;
    }
}

@media screen and (max-width : 600px) {
    .carousel {
        width: 20rem;
    }
}


@media screen and (max-width : 600px) {
    .navbar {
        background-color: black;

    }
}

@media screen and (max-width : 600px) {
    .text {
        position: initial;
    }
}

@media screen and (max-width : 600px) {

    .menu {
        height: initial;
        width: initial;
        border-radius: initial;
        font-size: initial;
    }
}

@media screen and (max-width : 600px) {
    .img-categorie {
        height: 14rem;
        padding-top: 1rem;
    }

}

@media screen and (max-width : 600px) {
    .detailsTitle {
        font-size: 1.5rem;

    }
}